:root {
  --page-1-color: #6A1B9A;
  --page-2-color: #00695C;
  --page-3-color: #D84315;
  --page-4-color: #00838F;
  --animate-speed: 2s;

}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin:0;
  padding:0;
  overflow: hidden;
  line-height: 1.4;
  color: #fff;
}

#page-1 {background: var(--page-1-color)}
#page-2 {background: var(--page-2-color)}
#page-3 {background: var(--page-3-color)}
#page-4 {background: var(--page-4-color)}

.page {
  display:flex;
  flex-direction: column;
  height:100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 4rem;
}

.page h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin:1rem;
}

.page p {
  font-size: 1.2rem;
  line-height: 1.4;
}

.btn {
  display:inline-block;
  padding: 1rem 2rem;
  background: #fff;
  color: #333;
  text-decoration: none;
  border:none;
  border-radius:50px;
  margin-top: 1rem;
  font-size: 1.1rem;
  transition: all .5s ease-in-out;
}

.btn:hover,
.btn-dark {
  background: #333;
  color: #fff;
}

.btn:hover:hover {
  color: #333;
  background: #fff;
}